/* details.css */

.game-details-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; /* Ensure parent container is positioned for absolute children */
}

.game-details-row {
    margin-bottom: 20px;
    position: relative; /* Ensure positioning for child elements */
}

.game-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; /* Ensure positioning for the Metacritic score */
}

.metacritic-score {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.metacritic-blue { background-color: #007bff; }
.metacritic-red { background-color: #dc3545; }
.metacritic-orange { background-color: #fd7e14; }
.metacritic-green { background-color: #28a745; }

.game-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #333;
}

.game-subtitle {
    font-size: 1.75rem;
    margin-bottom: 20px;
    color: #333;
}

.game-text {
    color: #555;
    line-height: 1.6;
    margin: 10px 0;
}

.game-text strong {
    color: #333;
}

.separator {
    border: 0;
    height: 1px;
    background: #ddd;
    margin: 40px 0;
}

.more-details-link {
    color: rgb(95, 95, 95);
    font-weight: bold;
    cursor: pointer;
}

.game-platform{
    font-size: 1.75rem;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #333;
}
.platforms-list {
     /* Ajusta el espacio superior según tu necesidad */
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Opcional: elimina el padding por defecto */
}

.platforms-list li {
    margin-bottom: 10px;
}

/* Estilo para el contenedor de comentarios */
.review-container {
    margin-bottom: 1rem;
  }
  
  .review {
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
  }
  
  .user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
  }
  
  .review-details {
    flex: 1;
    position: relative; 
  }
  
  .review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }
  
  .review-username {
    font-weight: bold;
    margin-bottom: 0;
  }
  
  .review-date {
    color: #6c757d;
    font-size: 0.875rem;
  }
  
  .review-comment {
    margin-top: 0;
  }
  
  .review-actions {
    display: flex;
    gap: 0.5rem;
    position: absolute;
    right: 0; 
    top: 50%;
    transform: translateY(-50%); 
  }
  
  .review-action-button {
    margin-top: 10px;
    width: 25px; /* Tamaño del cuadrado */
    height: 25px; /* Tamaño del cuadrado */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #ffffff;
    background-color: #6c757d5b; /* Gris claro */
    border-radius: 5px; /* Bordes redondeados */
    border: none;
    padding: 3px;
    cursor: pointer;
  }
  
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
  }
  